[include config/hardware/axis/X/TMC/TMC2209.cfg]
[include config/hardware/axis/Y/TMC/TMC2209.cfg]
[include config/hardware/axis/Z/TMC/TMC2209_1-Motor.cfg]
[include config/hardware/extruder/TMC/TMC2209.cfg]

#----------------------------------------#
#### BTT SKR Pico v1.0 definition ########
#----------------------------------------#

[mcu]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357128901B68-if00
baud: 500000
serial: /dev/ttyS5
restart_method: command

[mcu nano]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0
restart_method: arduino

# [include config/mcu_definitions/rpi.cfg]
[include config/mcu_definitions/main/BTT_SKR_Pico_v1.0.cfg]
[board_pins xye_SKR_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_X_STEP , X_DIR=MCU_X_DIR , X_ENABLE=MCU_X_EN ,
    Y_STEP=MCU_Y_STEP , Y_DIR=MCU_Y_DIR , Y_ENABLE=MCU_Y_EN ,
    Z_STEP=MCU_Z_STEP , Z_DIR=MCU_Z_DIR , Z_ENABLE=MCU_Z_EN ,
    E_STEP=MCU_E0_STEP , E_DIR=MCU_E0_DIR , E_ENABLE=MCU_E0_EN ,

    TMCUART=MCU_TMCUART , TMCTX=MCU_TMCTX ,

    X_STOP=MCU_X-STOP , Y_STOP=MCU_Y-STOP , Z_STOP=MCU_Z-STOP ,
    RUNOUT_SENSOR=MCU_E0-STOP ,
    LIGHT_OUTPUT=MCU_SERVOS ,
    PROBE_INPUT=MCU_PROBE     ,

    E_HEATER=MCU_HE   , E_TEMPERATURE=MCU_TH0   ,
    BED_HEATER=MCU_HB , BED_TEMPERATURE=MCU_THB ,

    PART_FAN=MCU_FAN1 , E_FAN=MCU_FAN2 ,
    CONTROLLER_FAN=MCU_FAN3 ,

    STATUS_NEOPIXEL=MCU_RGB ,
    
[tmc2209 stepper_x]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 0

[tmc2209 stepper_y]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 2

[tmc2209 stepper_z]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 1

# comment this section if you are using a toolhead with own mcu
[tmc2209 extruder]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 3

[neopixel btt_mini12864]
pin: nano:PB0
chain_count: 3
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5
color_order: RGB

[display]
lcd_type: uc1701
cs_pin: nano:PD7
a0_pin: nano:PB1
rst_pin: nano:PD6
# spi_bus: spi
# encoder_pins: ^EXP2_6, ^EXP2_8
# click_pin: ^!EXP1_9
contrast: 63
spi_software_miso_pin: nano:PD5 
spi_software_mosi_pin: nano:PD3
spi_software_sclk_pin: nano:PD4

[include toolhead.cfg]

[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
    SET_LED LED=btt_mini12864 RED=0 GREEN=0 BLUE=1 INDEX=1 TRANSMIT=0
    SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=btt_mini12864 RED=0.788 GREEN=0.078 BLUE=0.255 INDEX=3
